/* css for all */
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.clear_fix {
  float: none;
  clear: both;
}

.wrapper {
  padding: 1%;
  margin: 0 auto;
  width: 80%;
}
.text_center {
  text-align: center;
}

/* css for menu */
.menu {
  border-bottom: 1px solid gray;
}
.menu ul {
  list-style-type: none;
}
.menu ul li {
  display: inline;
  padding: 1%;
}
.menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #ff6b81;
}
.menu ul li a:hover {
  color: #ff4757;
}

/* css for main content */
.main_content {
  background-color: #f1f2f6;
  padding: 3% 0;
}
.col_4 {
  background-color: white;
  width: 18%;
  margin: 1%;
  padding: 2%;
  float: left;
}
.tbl_full {
  width: 100%;
  padding: 0;
  text-align: left;
  border: 1px solid black;
}
table tr th {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
table tr td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.btn_primary {
  background-color: #1e90ff;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.btn_primary:hover {
  background-color: #3742fa;
}
.btn_secondary {
  background-color: #7bed9f;
  padding: 1%;
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.btn_secondary:hover {
  background-color: #2ed573;
}
.btn_danger {
  background-color: #ff6b81;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.btn_danger:hover {
  background-color: #ff4757;
}
.btn_pri {
  background-color: #a4b0be;
  cursor: pointer;
  padding: 1%;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.success {
  color: #2ed573;
}
.error {
  color: #ff4757;
}

/* css for footer */
.footer {
  background-color: #ff4757;
  color: white;
}

/* css for login */
.login {
  width: 20%;
  border: 1px solid gray;
  margin: 5% auto;
  padding: 5%;
}
.login h1 {
  color: #ffa502;
  padding-bottom: 20%;
  font-weight: bold;
}
.login p {
  text-transform: capitalize;
  text-decoration: none;
  padding-top: 20%;
}
